@model Broadcast.Models.UserModel
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}


<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #6a11cb;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

    #pswd_info {
        bottom: 180px;
        bottom: -9px\9; /* IE Specific */
        font-size: .875em;
    }

        #pswd_info h4 {
            margin: 0 0 10px 0;
            padding: 0;
            font-weight: normal;
        }

    .invalid {
        padding-left: 22px;
        line-height: 24px;
        color: #ec3f41;
    }

    .valid {
        padding-left: 22px;
        line-height: 24px;
        color: #3a7d34;
    }

    #pswd_info {
        display: none;
    }

    .showSweetAlert {
        padding-top: 0;
    }

    .sweet-alert button {
        background-color: red;
    }
</style>

<div class="container" style="width:initial">
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">Change Password</h3>
        </div>
        @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @Id = "ChangePwd" }))
        {
            @Html.AntiForgeryToken()
            <div class="card-body">
                <div class="col-md-06">
                    <div class="form-group">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control form-control-lg", @placeholder = "Old Password", @id = "passwordo" })

                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg", @placeholder = "New Password", @id = "password" })

                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.CPassword, new { @class = "form-control form-control-lg", @placeholder = "Confirm Password", @id = "passwordc" })
                    </div>
                    <div id="pswd_info">
                        <h6>Password must meet the following requirements:</h6>
                        <ul>
                            <li id="letter" class="invalid">At least <strong>one letter</strong></li>
                            <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
                            <li id="number" class="invalid">At least <strong>one number</strong></li>
                            <li id="unique" class="invalid">At least <strong>one unique character</strong></li>
                            <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-outline-primary" onclick="validatepwd()" role="button"style="float: right">
                             Change Password
                        </a>
                    </div>
                    <div class="text-danger" style="text-align: center">
                        @ViewData["msg"]
                    </div>
                </div>

            </div>


        }
    </div>

</div>
<script>
    $(document).ready(function () {
        $('#pswd_info').hide();
    })
    $('#password').focus(function () {
        $('#pswd_info').show();
    });
    $('#password').blur(function () {
        $('#pswd_info').hide();
    });
    $('#password').keyup(function () {
        var pswd = $(this).val();
        if (pswd.length < 8) {
            $('#length').removeClass('valid').addClass('invalid');
        } else {
            $('#length').removeClass('invalid').addClass('valid');
        }
        if (pswd.match(/[A-z]/)) {
            $('#letter').removeClass('invalid').addClass('valid');
        } else {
            $('#letter').removeClass('valid').addClass('invalid');
        }
        if (pswd.match(/[A-Z]/)) {
            $('#capital').removeClass('invalid').addClass('valid');
        } else {
            $('#capital').removeClass('valid').addClass('invalid');
        }
        if (pswd.match(/\d/)) {
            $('#number').removeClass('invalid').addClass('valid');
        } else {
            $('#number').removeClass('valid').addClass('invalid');
        }
        if (pswd.match(/[A-Z]/)) {
            $('#capital').removeClass('invalid').addClass('valid');
        } else {
            $('#capital').removeClass('valid').addClass('invalid');
        }
    });
    function validatepwd() {
        debugger;
        var newPass = $('#password').val();
        var confirmpass = $('#passwordc').val();
        if ($('#passwordo').val() == "" || $('#passwordo').val() == null) {
            alert(/*"Warning",*/"Old Password Is Empty!");
            return
        }
        else if (newPass != confirmpass) {
            alert(/*"Warning", */"New Password and Confirm Password doesnot matched");
            event.preventDefault();
            return
        }
        else if ($('#length').hasClass("valid") == false) {
            alert(/*"Warning", */"Password must contain at least 8 characters");
            event.preventDefault();
            return
        }
        else if ($('#letter').hasClass("valid") == false) {
            alert(/*"Warning",*/ "Password must contain at least one character");
            event.preventDefault();
            return
        }
        else if ($('#capital').hasClass("valid") == false) {
            alert(/*"Warning",*/ "Password must contain at least one CAPTIAL Character");
            event.preventDefault();
            return
        }
        else if ($('#number').hasClass("valid") == false) {
            alert(/*"Warning",*/ "Password must contain at least one NUMBER");
            event.preventDefault();
            return
        }
        else {
            var form = $('#ChangePwd');
            //submit the form
            form.submit();
        }

    }
</script>

